@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Fira Sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Fira Sans;
  background-color: #f4f4f4;
  margin: 20px;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

/* Nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: #0e0e0e;
  font-size: bold;
}

nav button {
  padding: 10px 20px;
  border: 1px solid #006a50;
  color: #006a50;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #004d3c;
  color: #f4f4f4;
  transition: 01s ease;
}

/* Banner styles */

.banner {
  justify-content: space-between;
  margin-top: 34px;
  padding: 40px 0;
  display: flex;
  background-color: #c6e4d6;
  border-radius: 15px;
}

.banner-text {
  padding: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.banner-text h4 {
  font-weight: bold;
  color: #0e0e0e;
  opacity: 50%;
  margin-bottom: 10px;
}

.banner-text h1 {
  font-weight: bold;
  color: #0e0e0e;
  font-size: 56px;
}
.banner-text button {
  background-color: #006a50;
  color: #ffffff;
  padding: 10px 14px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.banner-text button:hover {
  background-color: #008a66;
  transition: 0.1s ease;
}

.banner-img {
  width: 474px;
  height: 400px;
  margin-top: 20px;
  margin-right: 40px;
}

/* {Pillars styles */

.pillars-text {
  display: inline-block;
  margin-top: 80px;
  font-weight: bold;
  color: #0e0e0e;
}

.pillars {
  display: flex;
  justify-content: space-evenly;
}

.pillars-section {
  display: flex;
  gap: 20px;
  width: 302px;
  height: 244px;
  padding: 24px;
  margin-top: 20px;
}

.pillar h2 {
  margin-top: 10px;
  font-weight: bold;
  color: #0e0e0e;
  opacity: 50%;
}

.pillar p {
  color: #0e0e0e;
  font-size: 12px;
  line-height: 24px;
  margin-top: 10px;
  opacity: 70%;
}

.pillar img {
  width: 64px;
  height: 64px;
}

/* Vision of future styles */

.vision-text {
  display: inline-block;
  margin-top: 80px;
  font-weight: bold;
  color: #0e0e0e;
}

.vision {
  display: flex;
  justify-content: space-evenly;
}

.vision-section {
  display: flex;
  gap: 20px;
  width: 410px;
  height: 325;
  padding: 24px;
  margin-top: 20px;
  border-radius: 16px;
  gap: 10px;
}

.vision h2 {
  margin-top: 10px;
  font-weight: bold;
  color: #0e0e0e;
  opacity: 50%;
}

.vision p {
  color: #0e0e0e;
  font-size: 12px;
  line-height: 24px;
  margin-top: 10px;
  opacity: 70%;
}

.header-text {
  color: #0e0e0e;
  font-size: 12px;
  line-height: 24px;
  margin-top: 10px;
  opacity: 70%;
}

.vision img {
  width: 64px;
  height: 64px;
}

.card-blue {
  background-color: #5490f5;
}

.card-green {
  background-color: #c6e4d6;
}

.card-yellow {
  background-color: #f7ebcf;
}

.btn-blue {
  background-color: #006a50;
  border: none;
  margin-top: 10px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.btn-green {
  background-color: #09a15c;
  border: none;
  margin-top: 10px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.btn-yellow {
  background-color: #ffc239;
  border: none;
  margin-top: 10px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.qoute {
  background-image: url(/images/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;
  margin-top: 80px;
}

.qoute p {
  color: #0e0e0e;
  font-size: 12px;
  line-height: 24px;
  margin-top: 26px;
  opacity: 70%;
}

.name-heading {
  font-size: 16px;
  font-weight: bold;
  margin-top: 48px;
}

.opinion {
  display: flex;
  width: 1200px;
}

.opinion-title {
  margin-top: 49px;
}
.opinion-content {
  display: flex;
  margin-top: 48px;
}

.opinion-heading {
  width: 1200px;
  display: flex;
  background-color: #c6e4d6;
  justify-content: space-between;
  padding: 24px;
}
.question {
  display: flex;
  width: 1200px;
}

.question-title {
  margin-top: 49px;
}
.question-content {
  display: flex;
  margin-top: 48px;
  margin-top: 20px;
}

.question-heading {
  width: 1200px;
  display: flex;
  color: #0e0e0e;
  font-size: semibold;
  background-color: #ffffff;
  margin-bottom: 2px;
  justify-content: space-between;
  padding: 20px;
}

.question button {
  background-color: #c6e4d6;
  padding: 10px 14px;
  border: none;
  border-radius: 4px;
}

hr {
  opacity: 40%;
}

.news-heading {
  margin-top: 40px;
}
.news-title {
  margin-top: 30px;
  font-size: 12px;
  opacity: 70%;
}

.news-container {
  display: flex;
}

.img-content {
  display: flex;
  padding: 48px;
}

.satelite-img {
  width: 408px;
  height: 270px;
  border-radius: 24px;
}

.text-content {
  width: 744px;
  height: 290px;
  margin-top: 48px;
}

.text-content h2 {
  color: #0e0e0e;
  opacity: 70%;
}

.al-jazeera-icon {
  width: 134px;
  height: 40px;
  opacity: 70%;
}

.text-content p {
  margin-top: 20px;
  font-size: 12px;
  opacity: 70%;
  margin-bottom: 30px;
}

.card-2 {
  margin-left: 46px;
}
